<!DOCTYPE html>
<html>
  <head>
    <title>Arcana Imperii</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script>
      window.events = [<%= @eventArrayOutput %>];
      
      function showEventModal(index) {
        var event = window.events[index];
        $("#eventModal .modal-body > p").text(event.msg);
        for (var choiceIndex in event.choices) {
          var choice = event.choices[choiceIndex];
          var $actionButton = $('<button type="button" class="btn btn-primary actionButton"></button>');
          $actionButton.text(choice);
          $actionButton.attr("data-sei", event.sei);
          $actionButton.attr("data-choice", choice);
          $actionButton.click(function() {
            $("#eventModal .modal-body > p").text("Loading, please wait...");
            $("#eventModal .modal-footer").text("");
            $.post("/handle_event?sei=" + $(this).attr("data-sei") + "&choice=" + encodeURIComponent($(this).attr("data-choice")), function(message) {
              alert(message);
              window.location.reload();
            });
          });
          $("#eventModal .modal-footer").append($actionButton);
        }
        $("#eventModal").modal({
          backdrop: 'static',
          keyboard: false
        });
      }
      
      $(document).ready(function() {
        <% if session[:events].length > 0 %>
          showEventModal(0);
        <% end %>
        $("#next").click(function() {
          window.location.reload();
        });
      });
    </script>
  </head>
  <body>
    <div id="eventModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Event</h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <h1><%= h session[:name] %></h1>
    <h2>Leader of <%= h session[:country] %></h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        Allies:
        <ul id="allies">
          <% session[:allies].each do |ally| %>
          <li><%= h ally %></li>
          <% end %>          
        </ul>
      </div>
      <div class="col-md-6">
        Enemies:
        <ul id="enemies">
          <% session[:enemies].each do |enemy| %>
          <li><%= h enemy %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-3">
        Money: <%= h session[:money] %> <%= h session[:currency] %>  
      </div>
      <div class="col-md-3">
        Population: <%= h session[:population] %>
      </div>
      <div class="col-md-3">
        Army members: <%= h session[:army_size] %> citizens
      </div>
      <div class="col-md-3">
        Approval rating: <%= h session[:approval_rating] %>%
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-1">
        Settings:
      </div>
      <div class="col-md-2">
        <button id="countryname" class="btn btn-primary">Country name</button>
      </div>
      <div class="col-md-2">
        <button id="yourname" class="btn btn-primary">Your name</button>
      </div>
      <div class="col-md-2">
        <button id="currencyname" class="btn btn-primary">Currency name</button>
      </div>
      <div class="col-md-2 day">
        Today is Day <%= session[:day] %>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button id="next" class="btn btn-primary btn-lg">Next day</button>
      </div>
    </div>
  </body>
</html>