<!DOCTYPE html>
<html>
  <head>
    <title>Arcana Imperii</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script>
      window.events = [<%= @eventArrayOutput %>];
      
      function showEventModal(index) {
        var event = window.events[index];
        $("#eventModal .modal-body > p").text(event.msg);
        for (var choiceIndex in event.choices) {
          var choice = event.choices[choiceIndex];
          var $actionButton = $('<button type="button" class="btn btn-primary actionButton"></button>');
          $actionButton.text(choice);
          $actionButton.attr("data-sei", event.sei);
          $actionButton.attr("data-choice", choice);
          $actionButton.click(function() {
            $("#eventModal .modal-body > p").text("Loading, please wait...");
            $("#eventModal .modal-footer").text("");
            $.post("/handle_event?sei=" + $(this).attr("data-sei") + "&choice=" + encodeURIComponent($(this).attr("data-choice")), function(message) {
              $("#eventModal .modal-body > p").text(message);
              var $okBtn = $('<button type="button" class="btn btn-primary">OK</button>');
              $okBtn.click(function() {
                window.location.reload();
              });
              $("#eventModal .modal-footer").append($okBtn);
            });
          });
          $("#eventModal .modal-footer").append($actionButton);
        }
        $("#eventModal").modal({
          backdrop: 'static',
          keyboard: false
        });
      }
      
      $(document).ready(function() {
        <% if session[:events].length > 0 %>
          showEventModal(0);
        <% end %>
        $("#next").click(function() {
          window.location.reload();
        });
        $("#countryname").click(function() {
          $(".nameSetThing").text("country");
          $(".nameSetThing").text("country");
          $("#nameSetModal").modal();
        });
        $("#yourname").click(function() {
          $(".nameSetThing").text("own");
          $("#nameSetModal").modal();
        });
        $("#currencyname").click(function() {
          $(".nameSetThing").text("currency");
          $("#nameSetModal").modal();
        });
        $("#changeName").click(function() {
          var newName = $("#newName").val();
          $("#nameSetModal .modal-body").text("Loading, please wait...");
          $("#nameSetModal .modal-footer").text("");
          $.post("/newname", { whichName: $(".nameSetThing:first").text(), newName: newName }, function(msg) {
            $("#nameSetModal .modal-body").text(msg);
            var $okBtn = $('<button type="button" class="btn btn-primary">OK</button>');
            $okBtn.click(function() {
              window.location.reload();
            });
            $("#nameSetModal .modal-footer").append($okBtn);
          });
        });
      });
    </script>
    
    <style>
      body {
        font-family: Montserrat, sans-serif;
      }
      h1, h2, .day, #next {
        font-family: Soviet, sans-serif;
      }
      .stats {
        font-family: Propaganda, sans-serif;
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <div id="eventModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Event</h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <div id="nameSetModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Set <span class="nameSetThing"></span> name</h4>
          </div>
          <div class="modal-body">
            <p>You can change your <span class="nameSetThing"></span> name here, but it will cost you!</p>
            <p>Price: 100 <%= session[:currency] %></p>
            <input type="text" id="newName" placeholder="New name" class="form-control" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="changeName" class="btn btn-primary">Change</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <h1><%= h session[:name] %></h1>
    <h2>Leader of <%= h session[:country] %></h2>
    <hr />
    <div class="row">
      <div class="col-md-6">
        Allies:
        <ul id="allies">
          <% session[:allies].each do |ally| %>
          <li><%= h ally %></li>
          <% end %>          
        </ul>
      </div>
      <div class="col-md-6">
        Enemies:
        <ul id="enemies">
          <% session[:enemies].each do |enemy| %>
          <li><%= h enemy %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row stats">
      <div class="col-md-3">
        Money: <%= p session[:money] %> <%= h session[:currency] %>  
      </div>
      <div class="col-md-3">
        Population: <%= p session[:population] %>
      </div>
      <div class="col-md-3">
        Army members: <%= p session[:army_size] %> citizens
      </div>
      <div class="col-md-3">
        Approval rating: <%= p session[:approval_rating] %>%
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-1">
        Settings:
      </div>
      <div class="col-md-2">
        <button id="countryname" class="btn btn-primary">Country name</button>
      </div>
      <div class="col-md-2">
        <button id="yourname" class="btn btn-primary">Your name</button>
      </div>
      <div class="col-md-2">
        <button id="currencyname" class="btn btn-primary">Currency name</button>
      </div>
      <div class="col-md-2 day">
        Today is Day <%= session[:day] %>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button id="next" class="btn btn-primary btn-lg">Next day</button>
      </div>
    </div>
  </body>
</html>